@import "../styles/styles.scss";
@import "../styles/functions";

$backgroundColor: 'backgroundColor';
$foregroundColor: 'foregroundColor';

.app-component  {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    vertical-align: center;
    flex-direction: column;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    width: 99%;
    min-height: 750px;

    .main-box {
        display: flex;
        align-content: center;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;
        border-radius: 10px;
        padding: 50px;
        width:80%;
        text-align: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    p {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
    select:focus {
        outline:0;
    }
}

@each $theme in map-keys($map: $themes) {
    .app-component.#{$theme}  {
        background-color: getColor($theme, $backgroundColor);
        color: getColor($theme,$foregroundColor);

        .main-box {
           border: 1px solid getColor($theme,$foregroundColor);
        }
    }

    .theme-picker-#{$theme} {
        flex-grow: 0;
        width: 30%;
        padding: 10px;
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        border: 1px solid getColor($theme,$foregroundColor);
        background-color: getColor($theme, $backgroundColor);
        color: getColor($theme,$foregroundColor);
    }
}
